observation-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:element name="observations">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="observation" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="location">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="latitude" type="xs:decimal"/>
                    <xs:element name="longitude" type="xs:decimal"/>
                    <xs:element name="city" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="date" type="xs:dateTime"/>
              <xs:element name="temperature" type="xs:decimal"/>
              <xs:element name="perceivedTemperature" type="xs:integer"/>
              <xs:element name="humidity" type="xs:integer"/>
              <xs:element name="skyCondition">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="clear"/>
                    <xs:enumeration value="partly_cloudy"/>
                    <xs:enumeration value="overcast"/>
                    <xs:enumeration value="rain"/>
                    <xs:enumeration value="snow"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="precipitation" type="xs:decimal"/>
              <xs:element name="comment" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>